langchain_community
langchain_groq
langchain_core
langchain_document
PyPDF2
streamlit
faiss-cpu
sentence_transformers
beautifulsoup4
requests
lxml
aiohttp
asyncio
bs4
selenium
webdriver_manager
faiss-cpu
numpy
unstructured
